.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carousel-root {
    width: 80vw;
    max-width: 50rem;
}
.outer-header-container {
    width: 100vw;
    z-index: 99;
    margin-bottom: 2rem;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.header-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.header-container li {
    margin: 0 1vw;
}
.header-container a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}